body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background: #3498db;
  color: white;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

nav a.active {
  text-decoration: underline;
}

section {
  display: none;
  padding: 20px;
}

section.active {
  display: block;
}

.banner img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.banner h2 {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0,0,0,0.6);
  color: white;
  padding: 10px;
}

table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ccc;
  padding: 10px;
}

.gallery {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}

.modal img {
  width: 70%;
  border-radius: 10px;
  border: 4px solid white;
}
